.login {
    background-image: url('../../../public/6864977.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}