.profileDetails {
    @media (min-width:900px) {
        & {
            border-left: .2px solid var(--borderColor);
            padding: var(--padding) 20px;
        }
    }
    padding: var(--padding) 0px;
    a{
        color: white;
    }
    flex: 1.5;
    .profileImage {
        width: 100%;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    .profileBlogs {
        flex: 3;
        padding: 20px 20px 20px 0px;
    }

    .profileFollow {
        display: flex;
        align-items: center;

        .socialIcons {
            min-width: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .profileFavoriteContainer {
        width: 100%;
        .profileFavorite {
            height: 600px;
            padding: 10px;
            overflow-y: auto;
        }
    }
}