.profileDetails {
  max-width: 500px;
  @media (min-width: 900px) {
    & {
      padding: var(--padding) 20px;
    }
  }

  padding: var(--padding) 0px;
  flex: 1;

  a {
    color: white;
  }

  .profileImage {
    width: 100%;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .profileAbout {
    max-width: 400px;
  }

  .profileBlogs {
    flex: 3;
    padding: 20px 20px 20px 0px;
  }

  .profileFollow {
    display: flex;
    align-items: center;

    .socialIcons {
      min-width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .profileFavoriteContainer {
    width: 100%;

    .profileFavorite {
      height: 600px;
      padding: 10px;
      overflow-y: auto;
    }
  }
}
