.profileBlogsContainer {
    display: flex;
    position: relative;
    @media (max-width: 900px) {
        flex-direction: column-reverse;
    }
    .profileBlogs {
        flex: 3;
        padding: 20px 20px 20px 0px;
    }
}