.profileBlogsContainer {
    display: flex;
    position: relative;
    @media (max-width: 700px) {
        flex-direction: column-reverse;
    }
    .profileBlogs {
        flex: 3;
        padding: 20px 20px 20px 0px;
    }
    .profileDetails {
        border-left: .2px solid var(--borderColor);
        flex: 1;
        padding: 50px 20px;
        .profileImage {
            width: 100%;
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
    }
    .profileFollow {
        display: flex;
        align-items: center;
        .socialIcons {
            min-width: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .profileFavoriteContainer {
        .profileFavorite {
            height: 600px;
            padding: 10px;
            overflow-y: auto;
        }
    }
}