.nav {
    padding: 10px var(--padding);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.425);
    transition: .2s all;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.logo {
    flex: 1;
    font-size: var(--logoSize);
    color: var(--textColor);
    user-select: none;
    align-self: center;
}

.logout{
    cursor: pointer;
}

.options {
    display: flex;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        list-style: none;
    }
}

.profile {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    font-size: 30px;
    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;
    }
    div,a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .options {
        flex: 2;
    }
}

@media (max-width: 900px) {
    .options {
        display: none;
    }
}