.switch-tabs-container {
    padding: 10px;
    margin: 5px;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-btn {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: var(--secondary-text-color);
}

.active-tab {
    background-color: var(--active-tab);
}