.not-found-page {
    background-color: var(--secondary);
    color: var(--secondary-text-color);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    img {
        width: 100%;
    }

    width: 100%;
    height:100vh;
}