@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Merriweather:wght@700;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s all;
}

.common {
    --padding: 50px;
}

.light-theme {
    --hoverText: #e2e2e2;
    --tag-bg-color: #DBDBDB;
    --tag-txt-color: #525252;
    --textColor: #525252;
    --secondary-text-color: rgb(0, 0, 0);
    --logoSize: 20px;
    --primary: #000000;
    --borderColor: #DBDBDB;
    --secondary: white;
    --secondary-box-shadow-color: rgba(20, 20, 20, 0.4);
    --btn-color: #5d0eac;
    --btn-hover-color: #0c0c0c;
    --mobile-nav-hover-color:rgb(241, 233, 233);
    --blogCard-bg-color: rgb(249, 247, 247);
    --blogCard-border: 2px solid rgba(0, 0, 0, 0.075);
    background-color: var(--secondary);
}

.dark-theme {
    --hoverText: #e2e2e2;
    --tag-bg-color: #232889;
    --tag-txt-color: #e2e2e2;
    --textColor: #d4d3d3;
    --secondary-text-color: rgb(255, 255, 255);
    --logoSize: 20px;
    --primary: #000000;
    --borderColor: #656565;
    --secondary: rgb(0, 23, 62);
    --secondary-box-shadow-color: rgba(255, 255, 255, 0.4);
    --btn-color: #3f46cd;
    --btn-hover-color: rgb(55, 15, 212);
    --mobile-nav-hover-color:rgb(55, 15, 212);
    --blogCard-bg-color: rgb(15, 15, 73);
    --blogCard-border: 2px solid rgba(255, 255, 255, 0.121);
    background-color: var(--secondary);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background-color: var(--se);

    @media (max-width: 700px) {
        .common {
            --padding: 15px;
        }
    }

    @media (max-width: 400px) {
        .common {
            --padding: 10px;
        }
    }
}

input {
    background-color: var(--secondary);
    color: var(--secondary-text-color)
}

.login-input {
    border: none;
    outline: none;
    padding: 10px;
    position: relative;
    border-bottom: 2px solid rgb(166, 166, 166);
    font-size: 15px;
    width: 100%;
    margin: 20px 0px;
    display: block;
    background-color: white !important;
    &:focus {
        outline: none;
    }
}

@media (max-width:700px) {
    :root {
        --padding: 20px;
    }
}

.hoverText {
    color: var(--textColor);
    transition: .2s ease-in;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;

    &:hover {
        background-color: var(--hoverText);
    }
}

a {
    text-decoration: none;
}


.motto {
    font-size: 80px;
    font-weight: 500;
    font-family: 'Archivo Black', sans-serif;
    color: var(--hoverText);
}

.motto-black {
    font-size: 40px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

@media (max-width: 1235px) {
    .motto {
        font-size: 60px;
    }
}

@media (max-width: 1000px) {
    .motto {
        font-size: 50px;
    }

    .motto-black {
        font-size: 26px;
    }
}

@media (max-width: 870px) {
    .motto {
        font-size: 40px;
    }
}

.dot {
    margin: 0px 10px;
    color: var(--secondary-text-color);
    font-weight: bold;
}

.logoTitle {
    font-size: var(--logoSize);
    color: var(--textColor);
    font-weight: bolder;
    font-size: 30px;
}


/************************little titles***********************/
.txt-error{
    color: red;
    font-size: 10px;
}
.txt-success{
    color: rgb(0, 156, 70);
    font-size: 10px;
}
/************************normal titles***********************/
.txt-1 {
    color: var(--secondary-text-color);
    font-size: 25px;
    font-weight: normal;
}

.txt-1x {
    color: var(--secondary-text-color);
    font-size: 30px;
    font-weight: normal;
}

.txt-1xx {
    color: var(--secondary-text-color);
    font-size: 35px;
    font-weight: normal;
}

.txt-2 {
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: normal;
}

.txt-2x {
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: normal;
}

.txt-2xx {
    color: var(--secondary-text-color);
    font-size: 22px;
    font-weight: normal;
}

.txt-3 {
    color: var(--secondary-text-color);
    font-size: 13px;
    font-weight: normal;
}
.txt-3x {
    color: var(--secondary-text-color);
    font-size: 15px;
    font-weight: normal;
}

/************************light titles***********************/
.txtL-1 {
    color: var(--textColor);
    font-size: 25px;
}

.txtL-2 {
    color: var(--textColor);
    font-size: 18px;
}

.txtL-2x {
    color: var(--textColor);
    font-size: 20px;
}

.txtL-2xx {
    color: var(--textColor);
    font-size: 22px;
}

.txtL-3 {
    color: var(--textColor);
    font-size: 13px;
}
.txtL-3x {
    color: var(--textColor);
    font-size: 15px;
}
.txtL-3xx {
    color: var(--textColor);
    font-size: 17px;
}
.txtL-4 {
    color: var(--textColor);
    font-size: 10px;
}

/************************semi bold titles***********************/
.txtSB-1 {
    color: var(--secondary-text-color);
    font-size: 25px;
    font-weight: 400;
}

.txtSB-2 {
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: 400;
}

.txtSB-2x {
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: 400;
}

.txtSB-2xx {
    color: var(--secondary-text-color);
    font-size: 22px;
    font-weight: 400;
}

.txtSB-3 {
    color: var(--secondary-text-color);
    font-size: 13px;
    font-weight: 400;
}

/************************bold titles***********************/
.txtB-1 {
    color: var(--secondary-text-color);
    font-size: 25px;
}

.txtB-1x {
    color: var(--secondary-text-color);
    font-size: 30px;
}

.txtB-1xx {
    color: var(--secondary-text-color);
    font-size: 32px;
}

.txtB-2 {
    color: var(--secondary-text-color);
    font-size: 18px;
}

.txtB-2x {
    color: var(--secondary-text-color);
    font-size: 20px;
}

.txtB-2xx {
    color: var(--secondary-text-color);
    font-size: 22px;
}

.txtB-3 {
    color: var(--secondary-text-color);
    font-size: 13px;
}

/************************ borders ***********************/
.border {
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

/************************ margins ***********************/
.mt-1 {
    margin-top: 10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-2x {
    margin-bottom: 25px;
}

.mb-2xx {
    margin-bottom: 30px;
}

.ml-1 {
    margin-left: 10px;
}

.mr-1 {
    margin-left: 10px;
}

.ma-1 {
    margin: 10px;
}

.mtb-1 {
    margin: 10px 0px;
}

.ml-2 {
    margin-left: 20px;
}

.mtb-2 {
    margin: 20px 0px;
}

.mlr-2 {
    margin: 0px 10px;
}


/************************ border title ***********************/
.bor-title-success {
    position: relative;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
}

.bor-title-success::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 223, 0);
}

/************************ btn styles ***********************/
.circular-btn {
    border-radius: 20px;
    background-color: var(--btn-color);
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: normal;

    &:hover {
        background-color: var(--btn-hover-color);
    }
}

.btn {
    border: none;
    background-color: var(--btn-color);
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;

    &:hover {
        background-color: var(--btn-hover-color);
    }
}

.login-btn {
    border: none;
    color: white;
    background-color: rgb(0, 136, 255);
    padding: 10px 15px;
    margin: 10px 10px 10px 0px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        background-color: rgb(0, 89, 167);
    }
}

.btn-sqr {
    border: none;
    background-color: var(--btn-color);
    color: white !important;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    position: relative;
    padding: 5px 10px;
    box-shadow: var(--secondary-box-shadow-color);
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        width: 0%;
        height:100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.268);
        transition: .2s;
        z-index: 0;
    }
    &:hover::after {
        width: 100%;
    }
}

.btn-fw {
    border: none;
    background-color: var(--btn-color);
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    width: 100%;

    &:hover {
        background-color: var(--btn-hover-color);
    }
}

/************************ input styles ***********************/
.input {
    padding: 10px;
    border-radius: 5px;
    border: .1px solid var(--hoverText);
    font-size: 20px;
    background-color: var(--secondary);
}


/************************ input styles ***********************/
.p-btn {
    padding: 3px;
    cursor: pointer;
}
.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}
/************************ text align styles ***********************/
.txt-center{
    text-align: center;
}
/********************** text color styles ***********************/
.link{
    columns: rgb(0, 0, 255);
    text-decoration: underline;
    cursor: pointer;
}
/********************** container styles ***********************/
.flex{
    display: flex;
    justify-content:center;
    align-items: center;
}

.full-height{
    min-height: 100vh;
}